
.article-box {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    flex: 1 1 calc(40% - 20px);
    box-sizing: border-box;
    background: white;
    border-radius: 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
    padding: 6px;
}

.article-img {
    width: 180px;
    height: 180px;
    border-radius: 18px;
    margin-right: 12px;
}

.article-date-source {
    color: lightgray;
    font-size: 12px;
    font-weight: 700;
}

.article-content {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 202px;
    line-height: 1.4em;
}

@media only screen and (max-width: 1050px) {
    .article-box {
        display: flex;
        align-items: center;
        flex: 100% !important;
        box-sizing: border-box;
        background: white;
        border-radius: 18px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
        padding: 6px;
    }

}

@media only screen and (max-width: 500px) {
    .article-box {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex: 100% !important;
        box-sizing: border-box;
        background: white;
        border-radius: 18px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.1);
        padding: 6px;
    }

}