.articles-container {
    margin-bottom: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.article-box-heading {
    display: flex;
    justify-content: space-between;
}

.article-box-heading>h2 {
    margin-bottom: 8px;
}

.laoding {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.see-more {
    color: #E10E0E;
}

.no-rec-msg {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #E10E0E;
}